.DS_Store
*.log
pgcli/log
pgcli/history
*.bak
zed/.tmp*
zed/embeddings
/profile.fish
fish/fish_variables
fish/fishd.tmp.*
fish/completions/gitleaks.fish
fish/completions/gh.fish
helix/themes/adaptive.toml
zed/prompts
zed/.tmp*
zed/embeddings
