keybinds {
    tmux {
        bind "Tab" { ToggleTab; }
        // bind "ESC" { Write 2; SwitchToMode "Normal"; }
        bind "[" { SwitchToMode "Scroll"; }
        bind "-" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "_" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "Alt h" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "Alt l" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        // bind "o" { FocusNextPane; }
        bind "d" { Detach; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "q" { Quit; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
        bind "Ctrl r" { SwitchToMode "Resize"; }
    }
    shared_except "tmux" {
        bind "Ctrl z" { SwitchToMode "Tmux"; }
    }
    scroll {
        bind "y" { Copy; SwitchToMode "Normal"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}

pane_frames false
serialize_pane_viewport true
// default_layout "disable-status-bar"
default_layout "compact"
